<!DOCTYPE html>
<html lang="kr">
  <head>
    {% block head %}
    <title>Shadow{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='ico/favicon.ico') }}">
    {% endblock %}
</head>
<body>
  {% block navbar %}
  <div class="navbar-wrapper">
    <div class="container">
      <div class="navbar navbar-static-top navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Shadow</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{ url_for('index') }}">home</a></li>
              <li><a href="{{ url_for('list') }}">List</a></li>
              <li><a href="{{ url_for('search') }}">Search</a></li>
            </ul>
            {% block navbar_right %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="/login">Login or Signup</a></li>
            </ul>
            {% endblock %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <div class="container page">
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <hr>
    {% block footer %}
    <footer class="footer">
      <p>&copy; Shadow</p>
    </footer>
    {% endblock %}
  </div>
  {% block js_footer %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  {% endblock %}
  </body>
</html>
